.carousel {
    height: 90vh; /* Уменьшает высоту карусели на 20% */
}

.carousel-inner {
    height: 100%; /* Заполняет доступное пространство внутри карусели */
}

.carousel-inner .carousel-item {
    height: 100%; /* Заполняет высоту слайда карусели */
}

.carousel-inner .carousel-item img {
    object-fit: cover; /* Обрезает изображения, чтобы они соответствовали новой высоте карусели */
    height: 100%; /* Заполняет высоту изображения внутри слайда */
}